html, body {
    overflow-x: hidden;
    width: 100vw;
    margin: 0;
}

@font-face {
    font-family: 'Pixel';
    src: url('kongtext.ttf')  format('truetype')
}

* {
    font-family: 'Pixel', cursive;
}

.main {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sections {
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100vw;
}

.right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100vw;
}

h3 {
    margin: 50px;
    font-size: 1.8em;
}

h3 i {
    margin-right: 30px !important;
}

#avatar-img {
    /*image-rendering: pixelated;*/
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.socials a {
    margin: 10px;
}

.socials {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.actions {
    margin: 20px;
}

.name {
    margin-top: 30px;
    font-size: 1.5em;
}

.name span {
    text-align: center;
}

#saying {
    position: relative;
    left: 200px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    justify-content: flex-end;
    transform: translateX(0px);
}
.skill-name {
    font-size: 1.4em;
}

.experience {
    max-width: 40vw;
    margin-bottom: 50px !important;
}

.experience-text {
    font-size: 0.9em;
}

.nes-container .title {
    font-size: 1.5em !important;
    transform: translateY(-20px);
}

.love {
    position: relative;
    bottom: 5px;
    left: 5px;
}

footer {
    color: white;
    background-color: black;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon{
    width: 32px;
    height: 32px;
}

.level {
    margin-bottom: 40px;
}

#easy {
    margin-right: 10px;
}

.easyfont{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.nes-icon {
    margin-right: 14px;
    margin-left: 14px;
    margin-bottom: 24px;
    transform: scale(2);
}

@media (max-width: 800px) {
    .sections {
        flex-direction: column;
    }
    .experience {
        max-width: 100vw;
    }
    .nes-icon.is-large {
        margin-right: 20px;
        margin-bottom: 20px;
        transform: scale(2);
    }
    .skill-name {
        font-size: 1.2em;
    }
    #saying {
        left: 0px;
    }
}