html {
    overflow-x: hidden;
}

* {
    font-family: 'Press Start 2P', cursive;
}

.main {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h3 {
    margin: 50px;
    font-size: 1.8em;
}

h3 i {
    margin-right: 30px !important;
}

#avatar-img {
    image-rendering: pixelated;
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

.socials a {
    margin: 10px;
}

.socials {
    margin-bottom: 100px;
}

.actions {
    margin: 20px;
}

.name {
    margin-top: 30px;
    font-size: 1.5em;
}

#saying {
    position: relative;
    left: 200px;
}

.skill {
    display: flex;
    align-items: center;
    margin: 20px;
    justify-content: flex-end;
    transform: translateX(-100px);
}

.skill-name {
    font-size: 1.2em;
    margin-right: 30px;
}

.experience {
    max-width: 1000px;
    margin-bottom: 50px !important;
}

.nes-container .title {
    font-size: 1.5em !important;
    transform: translateY(-20px);
}

.love {
    position: relative;
    bottom: 15px;
}